#allCards{
  border-radius: 2em;
  box-shadow: 5px 5px black;
  border: thin solid black;
  padding: 5em;
  background-color: antiquewhite;
}
#searchCard{
  margin: 1.8rem;
  border-radius: 2em;
  box-shadow: 5px 5px black;
  border: thin solid black;
  padding: 5em;
  color: blue;
  text-shadow: .2px .5px darkblue ;
  background-color: lightblue;
}
.topOfPage {
  rotate: 90deg;
}